<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="[%t] %-5level,%logger,%location,&quot;%msg&quot;%n"/>
        </Console>
        <Syslog name="Syslog" facility="USER" host="localhost" protocol="UDP" port="514" appName="App"
                ignoreExceptions="false">
            <PatternLayout pattern="[%t] %logger,%location,&quot;%msg&quot;"/>
        </Syslog>
        <RollingFile name="RollingFile" fileName="app.log.csv"
                     filePattern="app-%d{yyyyMMdd_HHmmss}.log.csv.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS},%t,%-5level,%logger,%location,&quot;%msg&quot;%n"/>
            <SizeBasedTriggeringPolicy size="5 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile" level="info"/>
            <AppenderRef ref="Syslog" level="info"/>
            <AppenderRef ref="Console" level="warn"/>
        </Root>
    </Loggers>
</Configuration>
